<?xml version="1.0" encoding="UTF-8"?>
<ReportServerParameter xmlVersion="20140501" releaseVersion="7.1.1">
<ServerLogLevel>
<![CDATA[WARNING]]></ServerLogLevel>
<LOGCNG exe4page="true" exe4view="true" exe4edit="true" exe4form="true" exe4write="true"/>
<FARRAY/>
<Write serverCharacterEncoding="GBK"/>
<GZip run="true"/>
<Lic useLock="false"/>
<ServletMapping pattern="ReportServer"/>
<ChromeChart downLocal="false"/>
<JbossWebappName name="WebReport"/>
<Hyperlink defaultLinkPath=""/>
<ReportWebAttr>
<ServerPrinter/>
<WebPageContent>
<ToolBars>
<ToolBarManager>
<Location>
<Embed position="1"/>
</Location>
<ToolBar>
<Widget class="com.fr.report.web.button.page.First">
<WidgetAttr>
<PrivilegeControl/>
</WidgetAttr>
<Text>
<![CDATA[${i18n("ReportServerP-First")}]]></Text>
<IconName>
<![CDATA[first]]></IconName>
</Widget>
<Widget class="com.fr.report.web.button.page.Previous">
<WidgetAttr>
<PrivilegeControl/>
</WidgetAttr>
<Text>
<![CDATA[${i18n("ReportServerP-Previous")}]]></Text>
<IconName>
<![CDATA[previous]]></IconName>
</Widget>
<Widget class="com.fr.report.web.button.page.PageNavi">
<WidgetAttr>
<PrivilegeControl/>
</WidgetAttr>
</Widget>
<Widget class="com.fr.report.web.button.page.Next">
<WidgetAttr>
<PrivilegeControl/>
</WidgetAttr>
<Text>
<![CDATA[${i18n("ReportServerP-Next")}]]></Text>
<IconName>
<![CDATA[next]]></IconName>
</Widget>
<Widget class="com.fr.report.web.button.page.Last">
<WidgetAttr>
<PrivilegeControl/>
</WidgetAttr>
<Text>
<![CDATA[${i18n("ReportServerP-Last")}]]></Text>
<IconName>
<![CDATA[last]]></IconName>
</Widget>
<Widget class="com.fr.report.web.button.FlashPrint">
<WidgetAttr>
<PrivilegeControl/>
</WidgetAttr>
<Text>
<![CDATA[${i18n("Utils-Print[Client]A")}]]></Text>
<IconName>
<![CDATA[flashprint]]></IconName>
</Widget>
<Widget class="com.fr.report.web.button.Print">
<WidgetAttr>
<PrivilegeControl>
<PrivilegeInvisibleRole privilegeInvisibleRole="技术支持总调度"/>
<PrivilegeInvisibleRole privilegeInvisibleRole="技术支持一线技术支持"/>
</PrivilegeControl>
</WidgetAttr>
<Text>
<![CDATA[${i18n("Print")}]]></Text>
<IconName>
<![CDATA[print]]></IconName>
<PrintButtons/>
</Widget>
<Widget class="com.fr.report.web.button.Export">
<WidgetAttr>
<PrivilegeControl>
<PrivilegeInvisibleRole privilegeInvisibleRole="技术支持总调度"/>
<PrivilegeInvisibleRole privilegeInvisibleRole="技术支持一线技术支持"/>
</PrivilegeControl>
</WidgetAttr>
<Text>
<![CDATA[${i18n("Export")}]]></Text>
<IconName>
<![CDATA[export]]></IconName>
<Buttons pdf="true" excelP="true" excelO="true" excelS="true" word="true" image="true" html="true"/>
</Widget>
<Widget class="com.fr.report.web.button.Email">
<WidgetAttr>
<PrivilegeControl/>
</WidgetAttr>
<Text>
<![CDATA[${i18n("Email")}]]></Text>
<IconName>
<![CDATA[email]]></IconName>
</Widget>
</ToolBar>
</ToolBarManager>
</ToolBars>
<WebPage isPage="false" isShowAsImage="false" isAutoScale="false" isTDHeavy="false"/>
</WebPageContent>
<WebViewContent>
<ToolBars>
<ToolBarManager>
<Location>
<Embed position="1"/>
</Location>
<ToolBar>
<Widget class="com.fr.report.web.button.PageSetup">
<WidgetAttr>
<PrivilegeControl/>
</WidgetAttr>
<Text>
<![CDATA[${i18n('PageSetup-Page_Setup')}]]></Text>
<IconName>
<![CDATA[pagesetup]]></IconName>
</Widget>
<Widget class="com.fr.report.web.button.PrintPreview">
<WidgetAttr>
<PrivilegeControl/>
</WidgetAttr>
<Text>
<![CDATA[${i18n('PrintP-Print_Preview')}]]></Text>
<IconName>
<![CDATA[preview]]></IconName>
</Widget>
<Widget class="com.fr.report.web.button.FlashPrint">
<WidgetAttr>
<PrivilegeControl/>
</WidgetAttr>
<Text>
<![CDATA[${i18n('Utils-Print[Client]A')}]]></Text>
<IconName>
<![CDATA[flashprint]]></IconName>
</Widget>
<Widget class="com.fr.report.web.button.Print">
<WidgetAttr>
<PrivilegeControl>
<PrivilegeInvisibleRole privilegeInvisibleRole="技术支持总调度"/>
<PrivilegeInvisibleRole privilegeInvisibleRole="技术支持一线技术支持"/>
</PrivilegeControl>
</WidgetAttr>
<Text>
<![CDATA[${i18n('Print')}]]></Text>
<IconName>
<![CDATA[print]]></IconName>
<PrintButtons/>
</Widget>
<Widget class="com.fr.report.web.button.Export">
<WidgetAttr>
<PrivilegeControl>
<PrivilegeInvisibleRole privilegeInvisibleRole="技术支持总调度"/>
<PrivilegeInvisibleRole privilegeInvisibleRole="技术支持一线技术支持"/>
</PrivilegeControl>
</WidgetAttr>
<Text>
<![CDATA[${i18n('Export')}]]></Text>
<IconName>
<![CDATA[export]]></IconName>
<Buttons pdf="true" excelP="true" excelO="true" excelS="true" word="true" image="true" html="true"/>
</Widget>
<Widget class="com.fr.report.web.button.Email">
<WidgetAttr>
<PrivilegeControl/>
</WidgetAttr>
<Text>
<![CDATA[${i18n('Email')}]]></Text>
<IconName>
<![CDATA[email]]></IconName>
</Widget>
</ToolBar>
</ToolBarManager>
</ToolBars>
</WebViewContent>
<WebWriteContent>
<ToolBars>
<ToolBarManager>
<Location>
<Embed position="1"/>
</Location>
<ToolBar>
<Widget class="com.fr.report.web.button.write.Submit">
<WidgetAttr>
<PrivilegeControl/>
</WidgetAttr>
<Text>
<![CDATA[${i18n('Utils-Submit')}]]></Text>
<IconName>
<![CDATA[submit]]></IconName>
<Verify failVerifySubmit="false"/>
</Widget>
<Widget class="com.fr.report.web.button.write.Verify">
<WidgetAttr>
<PrivilegeControl/>
</WidgetAttr>
<Text>
<![CDATA[${i18n('Verify-Data_Verify')}]]></Text>
<IconName>
<![CDATA[verify]]></IconName>
</Widget>
<Widget class="com.fr.report.web.button.FlashPrint">
<WidgetAttr>
<PrivilegeControl/>
</WidgetAttr>
<Text>
<![CDATA[${i18n('Utils-Print[Client]A')}]]></Text>
<IconName>
<![CDATA[flashprint]]></IconName>
</Widget>
<Widget class="com.fr.report.web.button.Print">
<WidgetAttr>
<PrivilegeControl>
<PrivilegeInvisibleRole privilegeInvisibleRole="技术支持总调度"/>
<PrivilegeInvisibleRole privilegeInvisibleRole="技术支持一线技术支持"/>
</PrivilegeControl>
</WidgetAttr>
<Text>
<![CDATA[${i18n('Print')}]]></Text>
<IconName>
<![CDATA[print]]></IconName>
<PrintButtons/>
</Widget>
<Widget class="com.fr.report.web.button.Export">
<WidgetAttr>
<PrivilegeControl>
<PrivilegeInvisibleRole privilegeInvisibleRole="技术支持总调度"/>
<PrivilegeInvisibleRole privilegeInvisibleRole="技术支持一线技术支持"/>
</PrivilegeControl>
</WidgetAttr>
<Text>
<![CDATA[${i18n('Export')}]]></Text>
<IconName>
<![CDATA[export]]></IconName>
<Buttons pdf="true" excelP="true" excelO="true" excelS="true" word="true" image="true" html="true"/>
</Widget>
<Widget class="com.fr.report.web.button.Email">
<WidgetAttr>
<PrivilegeControl/>
</WidgetAttr>
<Text>
<![CDATA[${i18n('Email')}]]></Text>
<IconName>
<![CDATA[email]]></IconName>
</Widget>
<Widget class="com.fr.report.web.button.write.AppendColumnRow">
<WidgetAttr>
<PrivilegeControl/>
</WidgetAttr>
<Text>
<![CDATA[${i18n('Add')}${i18n('Record')}]]></Text>
<IconName>
<![CDATA[appendcolumn]]></IconName>
</Widget>
<Widget class="com.fr.report.web.button.write.ShowCellValue">
<WidgetAttr>
<PrivilegeControl/>
</WidgetAttr>
<widgetValue/>
<LabelAttr verticalcenter="true" textalign="0" autoline="false"/>
<FRFont name="SimSun" style="0" size="72"/>
<border style="0" color="-723724"/>
</Widget>
</ToolBar>
</ToolBarManager>
</ToolBars>
<SelectedColor/>
<WebWrite SheetPosition="3"/>
<RptLocation isShowAtLeft="true"/>
<UnloadCheck/>
</WebWriteContent>
</ReportWebAttr>
<EmailManager password="___" user="" fromEmailAddress="" port="25" encryption="TLS"/>
<Parameters/>
<Styles>
<SAttr name="Title">
<Style horizontal_alignment="0" imageLayout="1">
<FRFont name="SimSun" style="1" size="108" foreground="-16737895"/>
<Background name="GradientBackground" color1="-4144960" color2="-16777216" direction="1" useCell="true" begin="0.0" finish="0.0" cyclic="false"/>
<Border/>
</Style>
</SAttr>
<SAttr name="Head">
<Style horizontal_alignment="0" imageLayout="1">
<FRFont name="SimSun" style="0" size="72"/>
<Background name="ImageBackground" specifiedImageWidth="-1.0" specifiedImageHeight="-1.0" layout="2">
<IM>
<![CDATA[lO<9(kN.ld@UNU%p%320@UNU)#I6cXfRW$ncQ/@&<0O5<@n=S@[oX!K%L!+t*8LGkV28*<fV
1DR2+&2#M*'iG9!?fn`jEHhj.>Qf/%>^"4u8^;2W-f-"/[-Ps"#=CT4LGm?)6rkX]Ap9;)cg,
:Xp=M>^R`IX>57);OBFYLBS"_e1Gss7S9)tL+\09b!LY7c2&TIA?%9m4n<NhHK^]A5-XNuS&?
,PUblK>Iu.A7%J~
]]></IM>
</Background>
<Border>
<Top style="1" color="-6697729"/>
<Bottom style="1" color="-6697729"/>
<Left style="1" color="-6697729"/>
<Right style="1" color="-6697729"/>
</Border>
</Style>
</SAttr>
<SAttr name="Explanation">
<Style imageLayout="1">
<FRFont name="SimSun" style="0" size="72"/>
<Background name="NullBackground"/>
<Border>
<Top style="3" color="-6697729"/>
<Bottom style="3" color="-6697729"/>
<Left style="3" color="-6697729"/>
<Right style="3" color="-6697729"/>
</Border>
</Style>
</SAttr>
<SAttr name="RTitle">
<Style horizontal_alignment="4" imageLayout="1">
<FRFont name="SimSun" style="1" size="132" foreground="-16751002"/>
<Background name="NullBackground"/>
<Border/>
</Style>
</SAttr>
<SAttr name="Head1">
<Style horizontal_alignment="0" imageLayout="1">
<FRFont name="SimSun" style="0" size="72"/>
<Background name="ColorBackground" color="-1577999"/>
<Border>
<Top style="1" color="-6697729"/>
<Bottom style="1" color="-6697729"/>
</Border>
</Style>
</SAttr>
<SAttr name="Head2">
<Style horizontal_alignment="0" imageLayout="1">
<FRFont name="SimSun" style="1" size="72"/>
<Background name="ColorBackground" color="-1577999"/>
<Border>
<Top style="1" color="-6697729"/>
<Bottom style="1" color="-6697729"/>
<Left style="1" color="-6697729"/>
<Right style="1" color="-6697729"/>
</Border>
</Style>
</SAttr>
<SAttr name="cell">
<Style horizontal_alignment="0" imageLayout="1">
<FRFont name="SimSun" style="0" size="72"/>
<Background name="NullBackground"/>
<Border>
<Top style="1" color="-6697729"/>
<Bottom style="1" color="-6697729"/>
<Left style="1" color="-6697729"/>
<Right style="1" color="-6697729"/>
</Border>
</Style>
</SAttr>
<SAttr name="BK">
<Style horizontal_alignment="0" imageLayout="1">
<FRFont name="SimSun" style="1" size="80"/>
<Background name="ImageBackground" specifiedImageWidth="-1.0" specifiedImageHeight="-1.0" layout="2">
<IM>
<![CDATA[!CmF*pPD^A7h#eD$31&+%7s)Y;?-[sec5[M/I2CX!!$<S!i#_q#S'Eo5u`*_mG%GX'B^5<nG
T1>S]AkWA/OptX1J(-,.4sf2$qX!X%#$T,.FVfGaA<5SR#khcTa:`5+Q8,:$m#MZ0t%'$lS+(
p(Q;p0OtHJp^*H@PHaPn8X$*lE9=sa,%X1A@L%TBQkbF]A>h=ntY4O<We9$j>'&#NuOAfa]A1S
sc0qUjX:JIQR]A4qC?,Mqp#mgVB8!nI\<P*_:6]A(+/&E]AI8??kKr34eC]A:6#4nG0'o?86Ud+o
n0ImM9Agh,H6l^gQ!Q-8##NId^(U<k;e#]A[/:<l\=QT,,K;*sO/+!-Hgg#lQ%)7k,R+.R6af
n^B,Yi<q5#:lJ6,FPb;<\M==9?F43??^:osrM>/j,3L/.6ho^ZVMn=Q9KuisoK_9WF<<A'5R
NNneqS0fP3Bnr!778=T<t<&p6=4!;?hqK-dDMXW<L9aFIs2X#e<$VF_6@$pnSW:XU,!S?X(+
o*p5Si8p<n=([!k_`grTDg>[[R7,F6#lq[+PAF^Wg>g7:J;?3B)Rn9;*c(!2SNAP?Db;M-E9
!Q\]A8"b<Yg4hf(MhsAinN'.J`Iq8[!e=DrCU>j0`?]AeLg6S25P*8,:GbK"Am77uGP3THNfRg
C\nNolR"9@8Gd%!+&\=*t4;=Sg-Cr_EV>b5RLLTH/L0.GdR.$fNsM<?FGCsl>dJDQ6)c59X,
W-Ac:[&0onYWM_-JfWO]Ah5#-;=YM/?As@.mb#]A,q!+nOr$DKH!H*&8s:Pf$D't`tP4L6,E`s
]AA`qNm9_;5"T\)P`!ZL]A@Fd]A,]Aob`RN(NhM@&TUi8Dl=u5^h/V81cq0G@c-40rV1a&;3;Rd8
O!'k`;d<p@9X[i.U<&,f>)_&2n`sB-4b#MDY6BqqW<#=Z]A_J3p]A"9@9.7JZNe[8+nS>gcen9
<rLq,QGU^6T6g,)3kVMV'[hF7e/F1_V'_N!4o4j#h:*kS5p46fmrYUKQ7;Jr"q^glcfl0i>a
%C8%@iW;ABcD5^,(or_,jCX49O)C5<8Om+7!65M$gY3A!06PBAUZ.O(Go9,1kI!+s-JOF/N'
SrS\@+qsV]Ad?'_LB-r(AnWkAD3As_RPu!/=D8jVY!!'>L-rgD(MPs>h/tNR]Ap#q&8/!cb72Q
,U?Uo:\9D:+2jGUsu%LI;-hh6DK08lnEZ#cT[iYmsX#;bAKj9dsp(>c`mK(*/+J,67e3'o1a
G^^c'Pnt::U/6!k5VPICQi2*5S*M#/-((USfmpPZi^Mj_gJCu&Zl.R3l%L3_clDodkQ]Aau*m
>)o7SW-C1LSY(RiIG;5`\3PW^b#9#-gc]A.4[K'T5gcICb,B'25D`cr6Is/o_]A`_9/FFGnpP]A
JeqZ&m2HcDnq54L.j08#P\&76"u1a%Kt-5a=E8uKPkG9LrZ/<o_g'u(aO!C1k@]Aoj/L?#]AdY
\F=oC3#PaL+EAo_S)!Aa?K-)tIRtolfU@*R%^u.=('&INr&sDuGHo+-b`Ya!2$^h'QeFPibr
#]AuIgtMj\Yp7VgsSsg2dMgfg9h2u!'k`]AG%=q-N`LI?=(XlSq_oo$mpUO&3='I>afTcLDt\4
pCrDM)bY(tV!+s?9%d^ZqoJ/MBd`JY9d9B-*\X!6fr`JTZIcA[KB"9Mj#@$?bSbUX9/-+o%G
?rmgXk:g&e>nVR.Mr%Y5Q/D81WKnkgH><+#)L#TWKiM1E]Aa!8:AgB[$ioL/=a+Jg'mmnhYB6
StEfh:GQu*nQZlStdPM^DQe>hMs*o[V6p3Lq+Kae7eh7[F@hrqrVjIk)r@Xmhk2rA74oe?!F
#k%0g+1nK]AIEX_gZ+:`YALCR4#lr?.Rm#9dm`ar;HCY`HVq-RXm!m$cB=%qni=i\]A0Ui9SM3
)'0,1eg<^\!ZhTKagqQ@i<*ADcgu^,JT$)e+$fo$<a,clm=N`u+R0+JE(h]A8q?KL\QW4#6<S
^mj$EXV`$T8N<@+"2tct`Z/<lnIPlQ'Qi4*hfKM]AA*b*tHUc)q.@NPU6DaQb"@3E86`G0a\:
PP8j^!pKjPO6GJ!*SG#G)`dLO"admk`5q8%gON`d+np/o_\(CVZSr]AhX)6?p5_#M?uCN-L8r
,_@9=rL1-<M.:I^buh=P>I!&+f9bkC#^:,fM#N8?X^46i^o6i7"\+0(;U-\D7.0>5CnC\Mu_
dpJ&1!2-r0_otjdrm_:fgIiU[1<0L`RA`+&1_(Cb>ZF=nn1igHWI<gnJPg$_LB[b7Q&RP1^2
2I>]AcSTErCg4YXbf^B/O$*^R6Mc.cNT]Ar0VaV_8%lGXisYqOmX&m?&56dcjT2@gjt;=.##no
Bp-IiJGS-)'_n!o4HT]A6;oPl8W/-+o%PW*e1`+UN`@HMqkh\bID:utiD\+C1l1FeeZA2TgTN
b$GOr7N1r!4k8Pj-nnRXe2SLjr2/&eM,[B&tUjKTQWGI/"JIbjMn^`*#21FnR@jh!8SM(k$j
"R*+KnKX=5I'@`7(*o:.N:ok0LN3-@#/h2:g5ij'lM?Ul@Ad+u)TIjIRnU4jAICW3)m4D2Qh
Mjb7A5,m6Qb*nc@7+HX@@V^^::N?H.40@XZ*-'Md8QID"T4/%m#=!(q6;D^P/^ccb2p<%`(t
jYKp+-FK]A'I1R:.B3#MtT!ZcV!&!ToUc(b2iC`HPCeTbp^`Jz8OZBBY!QNJ~
]]></IM>
</Background>
<Border/>
</Style>
</SAttr>
<SAttr name="PINK">
<Style imageLayout="1">
<FRFont name="SimSun" style="0" size="72"/>
<Background name="ImageBackground" specifiedImageWidth="-1.0" specifiedImageHeight="-1.0" layout="2">
<IM>
<![CDATA[!P\\$rJ=?G7h#eD$31&+%7s)Y;?-[sli7"c3X>ce!!#.4,&mS_!es975u`*_m@CLW!^RBPGu
BNH"<P@uNq``@KU!:W,a9"_(^jeAW3.CH(ZOd6%*+2Y)robUI`[qu`9^WC^AOB\3-Ng<)M"P
"Ym#Zr!1kKCeEc@H<BUBlMg-X.AkK^Mj>*EX?;&'3#W;RO9'sBNLIoSLI;>$K%%]AQbnPrqHT
a<3ol<rc:R`)N((u=O!\Df4%#,*[rEEn15i7?qlo5RjkY[Y.+?6^[#J-XRqc.VP2Q9.D+$_.
kWj!t`U^u1\iWE%qZ!,#C[`aEcLmZ/WBVkJ+W["PeXS5q9DS.X"&9?_j9:J=?=_;ID6D%\4W
(H$^rU;s]A^!e[1_M)Dd(RT[>-1c0hD#ER+B[gf344k*W#`+o5Z^_9R<K>cs]A^-0c.pgMFe6"
ptT30A5cohCFq"?l]A+]AiF(^@lK,CS=gLUY=blN%,fQD,_j1@-8C,U'VE<g$tW)%<o:+Sgq@h
\%8HjsW_lN\`-U,(.tA#G`e6omeK;RG;,1=.X2G,@\4U52`9h7u>th)@W%)f+9FO@FEV<)M`
^,_"PJf^!"8qGt*>/Ge!t6SthBOoe#)?_[9FQR60IDY8T-Q-(_qu=ZDI*=UOS<huM8:>r'3A
>s"<.TK,gMm9dg3h16$X)EV]AU)dEStd_^-#/DZPko$-eLNM1_:$r:)".MN_Z1+08f%i%K/f`
-M6Z-)B?N/(Atgm[e'2;0'^+7bi;83lLVR804BSP5!9SR>S?MB):1m7ds$]AN*5!B)2gEdg,Y
fCVk9lDIrZqo%4uiab(kjn]AFT"[<SWB[i\J&5->>tSc'!2Q</o$esc\d$G@Xo(V@ORgD'^jE
;&mfkHz8OZBBY!QNJ~
]]></IM>
</Background>
<Border/>
</Style>
</SAttr>
<SAttr name="YELLOW">
<Style horizontal_alignment="0" imageLayout="1">
<FRFont name="SimSun" style="1" size="80"/>
<Background name="ImageBackground" specifiedImageWidth="-1.0" specifiedImageHeight="-1.0" layout="2">
<IM>
<![CDATA[!<WZ+p5)U@7h#eD$31&+%7s)Y;?-[sfDkmO0*hUZ!!!MZP8aK%#g,_,5u`*_mG-rI<TP7:nW
O\56@aqnZsYuT<*F(<'kseX[SUKh&@N-.K4'30L!UA:&3pU\2LlPm;P9-4g`)uJ1S%/3Q'ah
f]AB&DWOp,KG+To:LS7h;3K)H3TVJi%^T/lY;9O<22pWR^(S1EE,N5WRA0F_Is:lH6dKMj?,]A
#0mJ7M/WS6\n$^!6D>]APF1p#kDLeWW_)W9A@F+DN%%-b[#lk:YTd'YF;H[/qMiU'=UH*GK*M
<$EO^&[8=:an3o*dLJLQqr:TE7bn\Db\"!<*0hdGZL+QuSjQR^DS@.5`<SHGIIWrE>Af]A/s$
+n>4b:m"@U7u=ttqTkqp`GZt;f^M<H'ngQ\pi1-FOtuYanQf#JV''l3\ak.`Hm3#6/PARi1N
@n!Nr4Na0ARY7;<6VFYY#IKa.d/8W!l2!Z1-p-GW?g)_]A4/_b*+)E=enrQ7nW2>8kI[NJd2"
pB/jWoG<QZCh6E[RJ?QKj)QEqf$hoBJJ`f1WS1$*YIDuu^3=_g^ET@`RXoQA)FJK9$&Hr'+Y
:DUkoE?3`-]As<<F;fC"p^JZUM#7@cO25ca%fI%MQ,-l2*B'XSl[gf#N:;ji%=SeAbAd4X%@.
(anaAg:)Np6[-jZ*rhutt400!(R"tT2)5nNZI>QKU1=JQ96?,iT0b[1G-a+@eE1+bmq&IP$P
JTH3B_WV^M]Ao!'<"@7N)=8B(1TaEdS#mm27^/NC$A1U-g6VN*W6KCAVr-Z8"%Ri"sn3n<3"T
@j^LSLKGckRDn&Gt?4h@m\M-mU1$KkO.FNr@%'7(js>YS;gU@\Ij&oQNUJSMo`L+0r\-)#f'
\hBea;i$aE&P!gbm(aS=tK00Bpq`+;A!eCkQn2(K;$A.]Ac-=$rLSH5GYYic:3'gR+ppd'^R=
T\:Zi8.+4LO#]ABs&Tg]A6%Sb66$G:jU?tF_-#0Y$Gn+:r5-XJcBhqbX%NA<.2&k7m;qF4s3<X
aXR'2m%NsWZ_35G^7rZ^>MVTo80ge#cDI(QK9^>U5%b;qJaP;r;%G9QSuAaUa+2?cBj`*Ee!
8!'p9fFJR,5'#]AsdlK'K^,5FE$Sno>eoupu#B9)5Y!TjC,?LQ]Ak`.V5!Y6Arql$WIfQSLn(>
?OS2n!KK4@Ejd"jLs_gY:);a'6KBh:T,:&9Psj+E7;d]A(;k;&$]Au,[Z.)$Q-YO;;8tqW7+e,
_9H2X""uOmTETA=a%RJG^Z0+F9%clD3XLZuP"0>Y$2^9Fmn.8/f:;D;$:u>Gg?Af"G6H<,9c
QW"k"[R@^[M@H(@-7`/aWZsd?s-3MQ3ObO2d2"Ml<Aje=#*]A$Zt)JWAj!;h(F]AX$UXm\?0>.
!9I'\c+X+;]A%G;%N6`/O3sfXhF^/n_$iA6oSDl`_ZC=gJ8tGM3b<nmT"ZR'Vl';sdqL]A&!]AV
\=r:H,dH3mM.se>rt7)k68bt+78hT,6-pY<bMm:j1bXX89OM$nqA7S_?]AONB1%WP%[,WI`q3
p$JOS(.Nh3kA-:">a_#eFNCjg9LT0eFQGA[)%@E-hWRGU6aF7&!*Bac]AR%YYmFMDI(\(Sb-c
I_YlNP<[S0)mdAn%\6ghIeg)Y$amg;`PoFGAG044',S<@j7YtKI02pEdA6:G&CF?(2M+ULB+
QtFYT;4@jWHAiP9i.lhj'PQ=f1q;Da#5H!:O.>O:j!,H9h%7q\hs*""J2A2kUoo&U=:R^8I'
!nG]A0i*rg372%hTH:1\0jGYU0f9Uqum69#EKnDG%QMOs&rueYV<[Bt-3pe4cRDPI9[jVFJ_8
qhW%;>uDUgo*Suel(E%mBYtKuh+Y6U;*iRb^#ns6:")TO+,r/&Lc%sKD+YmeSF2`O([P:$:-
]A8L_><V[2Eh23B>g:26qr`;QH'+oGE=c7oE9!#V.l;')SV9tB+A3?PpiI0K/D<[,LAC`[f/O
+SctQqa.)81>@n8[GYhS9;Hmb6/[I^cPA9^LnYV]AT3D"R1716AC%VhFAgO?*.4q1`Z.'7PV]A
-*&fB=2g8Z`*93W9n;j*,'b8ln(E$Kc"`tMqXagm;l_5F/]A$td/FF"rdl9V%Y"'pVg[N`h>A
.(q[$q]A-;ZGeIj)9#*8Pu`FhFYrcGQ2+K?dQJNaE0GmQfs9>$[]Aj6-"@lEur!i!hYK:3HZl@
3C2nS$%4[<\b2uVom:fXGO"Q!T_f7OTYIX`T_nBei2tU=kH@_&:]A8:D/OZe4W8@M*mn`3EUX
HI_FtZmBhGeig#f8Q'VOdT"WI9]ATgP^<!W:TiR6M/CA4AXbG=RF@0qH(SKQ)\O-k[,nI\qBt
IpfT>Rd*CI8W,",u2:);1Zbf(_4UZ5t;XIgCl]AEWST<U7D&B;O%AD%*f)u(<CDBQVC8_7k^Q
"er6/)I<>m`U-ofsj7>[;Ca\G/WdYWca(>k`.[p'\c[=^(FMW6L1MYAI[p1mPcIb(pS&U7,!
u%qfA0:40n:+p3^?(UH/NDJ'a^Hlj&>f&%1cAQL1\t'CNulDJ2BQ$WK\Po88oX/$S-TCjQo[
!TGTINl-IA42nU7%2?fE]A+s(Le[[2Bc[jY)Sgs-L$47]A7JT[Mmh[Q+Q<:=87?&W#WEUQ1Zd%
0G`&G%!Vn(nFX4L9[8et'U`fdT^[(gu=GM6)1i)9@H]AmFYL5]A(nbL%p_VUTKBm?C-QLob%H_
Y3fjk'gR*8mhsf"FZf^g(m0tR9Smp@_g^!:0Ne"B<"[R@bFe%%e49a)4T\=RgY&1g7V]AeW0G
_f?1hs4DG/NIA"/aRkh=ijb4Ihi1Cd=K!HSqgS>i.5.mfV[@\a1GCXY,=pWJ8i%50MW.CVaY
1=?S;-_;HT5OL.">ST/"<#8Fh6[q;bMh,.ku>MAg*^\L)#`ZT,nnIm<o?nP?^SQ,^r^z8OZB
BY!QNJ~
]]></IM>
</Background>
<Border/>
</Style>
</SAttr>
<SAttr name="h11">
<Style imageLayout="1">
<FRFont name="SimSun" style="0" size="72"/>
<Background name="GradientBackground" color1="-4144960" color2="-52" direction="1" useCell="true" begin="0.0" finish="0.0" cyclic="false"/>
<Border/>
</Style>
</SAttr>
<SAttr name="h12">
<Style horizontal_alignment="0" imageLayout="1">
<Format class="com.fr.base.CoreDecimalFormat">
<![CDATA[#0.00]]></Format>
<FRFont name="SimSun" style="0" size="72"/>
<Background name="NullBackground"/>
<Border>
<Top style="1" color="-6894375"/>
<Bottom style="1" color="-6894375"/>
<Left style="1" color="-6894375"/>
<Right style="1" color="-6894375"/>
</Border>
</Style>
</SAttr>
</Styles>
<SessionInfo checkTime="40000" heartBeat="true"/>
<FlashPrint popupFlashPrintSetting="true" fitPaper="false"/>
<PdfPrint popupPdfPrintSetting="true"/>
<AppletPrint popupAppletPrintSetting="true"/>
<writeShortCuts writeShortCuts="true"/>
<CustomLocale>
<Parameters/>
<DSName>
<![CDATA[]]></DSName>
<ColumnNames>
<![CDATA[]]></ColumnNames>
<ColumnTypes>
<![CDATA[]]></ColumnTypes>
</CustomLocale>
</ReportServerParameter>
